<a href="https://colab.research.google.com/github/kusoksaxara/housing-price-prediction/blob/main/Get_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 194.045 Data Stewardship UE (2025S)

This exemplary Jupyter notebooks should help you get going with Part 2. Further Python help is available on [PyPI](https://pypi.org/project/dbrepo/) or the [documentation](https://www.ifs.tuwien.ac.at/infrastructures/dbrepo/1.7/python/guide/rest-client.html) website.

## 1 Deposit Dataset

Navigate to the DBRepo Test Instance https://test.dbrepo.tuwien.ac.at and login with your TU account.

Create a database with the UI by clicking the "+ Database" button and typing a name. Click "Create" once you're done.

<img src=".help/1_create_database.png" style="max-width: 1024" alt="" />

Navigate to "Create Table" and give your table a name and description. It is **important** to set both Transparency and Insights to "Visible" to make your dataset publicly visible. Set the structure information (most CSV datasets have a top row with column names) and separator (usually comma `,`). Select your dataset to upload and click "Upload & Analyse".

<img src=".help/2_create_table.png" style="max-width: 1024" alt="" />

Once the upload is finished, the DBRepo suggests column data types and constraints (e.g. column is allowed to have `NULL` value). Select at least 1 column that is a primary key (must be non-`NULL`, unique in value). These are usually called something-`id`ish. Then click "Continue". Wait for the table creation and click "Import Data".

On the next page, finally import the data by clicking the button "Import", the structure  and dataset is filled from the previous step. In case of an import error, set the separator according to your CSV.

<img src=".help/4_import_data.png" style="max-width: 1024" alt="" />

## 2 Create Subset

Now that you have uploaded your dataset, it is time to create a meaningful subset that can be used for analysis. Select the columns and use at least 1 filter condition and 1 sorting condition. Click "Create" when you want to create the subset.

<img src=".help/5_create_subset.png" style="max-width: 1024" alt="" />

Finally, mark your subset to be visible in the UI by clicking the "Star" button. Click "Get PID" and create a PID similar to InvenioRDM.

## 3 Get Data

Install the dependencies from the requirements.txt file.

In [2]:
!pip install -r /content/requirements.txt

Collecting dbrepo==1.7.3 (from -r /content/requirements.txt (line 1))
  Downloading dbrepo-1.7.3-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.11/dist-packages (from dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.32.3)
Collecting pika (from dbrepo==1.7.3->-r /content/requirements.txt (line 1))
  Downloading pika-1.3.2-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: pydantic in /usr/local/lib/python3.11/dist-packages (from dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.11.3)
Collecting tuspy (from dbrepo==1.7.3->-r /content/requirements.txt (line 1))
  Downloading tuspy-1.1.0-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2025.1.31)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.1 in /usr/local/lib/python3.11/dist-packages (from pydantic->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.33.1)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.11/dist-packages (from pydantic->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (4.13.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (0.4.0)
Collecting tinydb>=3.5.0 (from tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1))
  Downloading tinydb-4.8.2-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: aiohttp>=3.6.2 in /usr/local/lib/python3.11/dist-packages (from tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (3.11.15)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (6.4.3)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp>=3.6.2->tuspy->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (1.20.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->dbrepo==1.7.3->-r /content/requirements.txt (line 1)) (1.17.0)
Downloading dbrepo-1.7.3-py3-none-any.whl (31 kB)
Downloading pika-1.3.2-py3-none-any.whl (155 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 155.4/155.4 kB 4.5 MB/s eta 0:00:00
Downloading tuspy-1.1.0-py3-none-any.whl (15 kB)
Downloading tinydb-4.8.2-py3-none-any.whl (24 kB)
Installing collected packages: tinydb, pika, tuspy, dbrepo
Successfully installed dbrepo-1.7.3 pika-1.3.2 tinydb-4.8.2 tuspy-1.1.0

Get the data from your persisted subset by the PID:

In [5]:
from dbrepo.RestClient import RestClient
client = RestClient(endpoint="https://test.dbrepo.tuwien.ac.at", username="52209173", password="wqeCSojk1993")
train = client.get_identifier_data(identifier_id="7b0f5d2e-1a66-4698-83e6-68c1b937af1a")
train

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,1,2014-05-02 00:00:00.0,313000.000000000000000000,3.000000000000000000,1.500000000000000000,1340,7912,1.500000000000000000,false,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2,2014-05-02 00:00:00.0,2384000.000000000000000000,5.000000000000000000,2.500000000000000000,3650,9050,2.000000000000000000,false,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,3,2014-05-02 00:00:00.0,342000.000000000000000000,3.000000000000000000,2.000000000000000000,1930,11947,1.000000000000000000,false,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,4,2014-05-02 00:00:00.0,420000.000000000000000000,3.000000000000000000,2.250000000000000000,2000,8030,1.000000000000000000,false,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,5,2014-05-02 00:00:00.0,550000.000000000000000000,4.000000000000000000,2.500000000000000000,1940,10500,1.000000000000000000,false,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,3216,2014-06-24 00:00:00.0,437000.000000000000000000,4.000000000000000000,2.500000000000000000,1890,8505,1.000000000000000000,false,0,3,1290,600,1980,0,8619 169th Ct NE,Redmond,WA 98052,USA
3216,3217,2014-06-24 00:00:00.0,689000.000000000000000000,3.000000000000000000,1.750000000000000000,2200,9840,1.000000000000000000,false,0,5,1500,700,1978,0,15222 SE 48th Dr,Bellevue,WA 98006,USA
3217,3218,2014-06-24 00:00:00.0,319000.000000000000000000,4.000000000000000000,2.500000000000000000,2510,7992,1.000000000000000000,false,0,3,1610,900,1978,0,3709 S 256th Ct,Kent,WA 98032,USA
3218,3219,2014-06-24 00:00:00.0,510000.000000000000000000,3.000000000000000000,2.250000000000000000,1420,1309,3.000000000000000000,false,0,3,1420,0,2006,0,3821-3825 Whitman Ave N,Seattle,WA 98103,USA
3219,3220,2014-06-24 00:00:00.0,440000.000000000000000000,3.000000000000000000,1.750000000000000000,2000,9900,1.000000000000000000,false,2,4,1480,520,1957,2001,17705 3rd Pl SW,Normandy Park,WA 98166,USA

In [6]:
from dbrepo.RestClient import RestClient
client = RestClient(endpoint="https://test.dbrepo.tuwien.ac.at", username="52209173", password="wqeCSojk1993")
valid = client.get_identifier_data(identifier_id="e15c702c-31dc-4815-b5f0-dacaf0077ae0")
valid

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,3221,2014-06-24 00:00:00.0,1010000.000000000000000000,2.000000000000000000,2.000000000000000000,1460,9052,1.000000000000000000,false,2,5,1460,0,1900,0,1302 1st St,Kirkland,WA 98033,USA
1,3222,2014-06-24 00:00:00.0,875000.000000000000000000,4.000000000000000000,2.500000000000000000,3220,22588,2.000000000000000000,false,0,3,3220,0,1996,0,14305 214th Way NE,Woodinville,WA 98077,USA
2,3223,2014-06-24 00:00:00.0,304000.000000000000000000,4.000000000000000000,2.000000000000000000,1310,8454,1.000000000000000000,false,0,4,1310,0,1953,1983,17547 11th Ave NE,Shoreline,WA 98155,USA
3,3224,2014-06-24 00:00:00.0,139000.000000000000000000,2.000000000000000000,1.000000000000000000,690,5280,1.000000000000000000,false,0,4,690,0,1942,1982,755 Dayton Ave NE,Renton,WA 98056,USA
4,3225,2014-06-24 00:00:00.0,464500.000000000000000000,3.000000000000000000,1.750000000000000000,1150,10466,1.000000000000000000,false,0,5,1150,0,1959,0,12227 SE 55th Pl,Bellevue,WA 98006,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,3906,2014-07-03 00:00:00.0,1015000.000000000000000000,3.000000000000000000,3.250000000000000000,3620,4000,2.000000000000000000,false,0,3,2730,890,2005,0,3505 W McGraw St,Seattle,WA 98199,USA
686,3907,2014-07-03 00:00:00.0,1100000.000000000000000000,4.000000000000000000,3.750000000000000000,5070,60123,2.000000000000000000,false,0,3,5070,0,2000,0,5725 251st Ct NE,Redmond,WA 98053,USA
687,3908,2014-07-03 00:00:00.0,240000.000000000000000000,3.000000000000000000,1.750000000000000000,1570,8750,1.000000000000000000,false,0,3,1570,0,1960,2012,17820 1st Avenue South,Burien,WA 98148,USA
688,3909,2014-07-03 00:00:00.0,198000.000000000000000000,4.000000000000000000,1.750000000000000000,2080,7200,1.000000000000000000,false,0,4,1050,1030,1966,0,4114 S 294th St,Auburn,WA 98001,USA
689,3910,2014-07-03 00:00:00.0,565000.000000000000000000,4.000000000000000000,2.500000000000000000,2230,8624,1.000000000000000000,false,0,4,1430,800,1969,0,14021 NE 62nd St,Redmond,WA 98052,USA

In [7]:
from dbrepo.RestClient import RestClient
client = RestClient(endpoint="https://test.dbrepo.tuwien.ac.at", username="52209173", password="wqeCSojk1993")
test = client.get_identifier_data(identifier_id="145e70a6-b27e-48c3-a4ed-b4ff8c0dceef")
test

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,3911,2014-07-03 00:00:00.0,1195000.000000000000000000,5.000000000000000000,3.000000000000000000,3420,18129,2.000000000000000000,false,0,3,2540,880,1952,2005,7657-7801 E Mercer Way,Mercer Island,WA 98040,USA
1,3912,2014-07-03 00:00:00.0,340000.000000000000000000,8.000000000000000000,2.750000000000000000,2790,6695,1.000000000000000000,false,0,3,1470,1320,1977,2004,17512 Corliss Ave N,Shoreline,WA 98133,USA
2,3913,2014-07-03 00:00:00.0,815000.000000000000000000,4.000000000000000000,2.500000000000000000,3150,4203,2.000000000000000000,false,0,3,3150,0,2002,0,9714 132nd Ave NE,Kirkland,WA 98033,USA
3,3914,2014-07-03 00:00:00.0,1875000.000000000000000000,4.000000000000000000,3.250000000000000000,3930,10929,2.000000000000000000,false,0,3,3930,0,2006,0,10924 NE 18th Pl,Bellevue,WA 98004,USA
4,3915,2014-07-03 00:00:00.0,588000.000000000000000000,5.000000000000000000,3.000000000000000000,2190,4900,2.000000000000000000,false,0,5,1490,700,1940,0,8314 Jones Ave NW,Seattle,WA 98117,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,4596,2014-07-09 00:00:00.0,308166.666667000000000000,3.000000000000000000,1.750000000000000000,1510,6360,1.000000000000000000,false,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
686,4597,2014-07-09 00:00:00.0,534333.333333000000000000,3.000000000000000000,2.500000000000000000,1460,7573,2.000000000000000000,false,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
687,4598,2014-07-09 00:00:00.0,416904.166667000000000000,3.000000000000000000,2.500000000000000000,3010,7014,2.000000000000000000,false,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
688,4599,2014-07-10 00:00:00.0,203400.000000000000000000,4.000000000000000000,2.000000000000000000,2090,6630,1.000000000000000000,false,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
689,4600,2014-07-10 00:00:00.0,220600.000000000000000000,3.000000000000000000,2.500000000000000000,1490,8102,2.000000000000000000,false,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

## Help!

If you cannot login to the DBRepo Test Instance or have weird error messages you cannot figure out on your own, contact [martin.weise@tuwien.ac.at](mailto:martin.weise@tuwien.ac.at).